    <footer class="footer">
        <nav class="social-nav">
            <ul>
                <li class="homepage-link">
                    <a href="/" title="{{ site.title }} Homepage"><img alt="{{ site.title }}" src="/assets/icon/icon.png" height="26" width="26"></a>
                </li>{% if site.contact %}
                <li>
                    <a href="mailto:{{ site.contact }}" title="Get in touch for Info about {{ site.title }}">{{ site.contact }}</a>
                </li>{% endif %}{% if site.newsletter %}
                <li>
                    <a href="{{ site.newsletter }}" title="Sign up to receive news about the {{ site.title }}" aria-label="Contact">
                        <svg class="icon-text" aria-hidden="true">
                            <use href="/assets/icon/envelope.svg#root"></use>
                        </svg>
                    </a>
                </li>{% endif %}
                <li>
                    <a href="https://github.com/{{ site.github_username }}/" title="{{ site.title }} on GitHub" aria-label="GitHub">
                        <svg class="icon-text" aria-hidden="true">
                            <use href="/assets/icon/github.svg#root"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="/editors" title="{{ site.title }} content editors" aria-label="Website content">
                        <svg class="icon-text" aria-hidden="true">
                            <use href="/assets/icon/content-editors.svg#root"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="/feed.xml" title="{{ site.title }} RSS feed" aria-label="RSS">
                        <svg class="icon-text" aria-hidden="true">
                            <use href="/assets/icon/rss.svg#root"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>{% if site.footer.copyright or site.footer.license %}{% if site.footer.copyright %}
        <div class="copyright-notice">
            <p class="crown-copyright">
                <a href="{{ site.footer.copyright.url }}">© {{ site.footer.copyright.title }}</a>
            </p>
            <p class="funding-notice">
                This programme is jointly funded by the <a href="https://www.gov.uk/government/organisations/department-for-education">Department for Education (DfE)</a> and the <a href="https://www.gov.uk/government/organisations/department-of-health-and-social-care">Department of Health and Social Care (DHSC)</a>.
            </p>
        </div>{% endif %}{% if site.footer.license %}
        <p>
        <svg class="icon-text ogl" aria-hidden="true">
            <use href="/assets/icon/ogl.svg#root"></use>
        </svg>
         All content is available under the <a href="{{ site.footer.license.url }}">{{ site.footer.license.title }}</a>, except where otherwise stated.{% endif %}
        </p>{% endif %}
    </footer>
