<!DOCTYPE html>
<html lang="{{ site.lang }}">
    {% include head.html %}

    <!-- Render the mermaid diagrams if any are present -->
    <script type="module">
        document.addEventListener('DOMContentLoaded', async () => {
            const blocks = document.querySelectorAll('.language-mermaid');
            if (blocks.length === 0) return;

            const { default: mermaid } = await import('https://cdn.jsdelivr.net/npm/mermaid@11/dist/mermaid.esm.min.mjs');
            mermaid.initialize({ startOnLoad: false });

            for (const block of blocks) {
            const graphDefinition = block.textContent;
            const container = document.createElement('div');
            container.className = 'mermaid';
            container.textContent = graphDefinition;
            block.replaceWith(container);
            }
            await mermaid.run();
        });
    </script>

    <body>
        {% include banner.html %}
        <header class="header nojs">{% if site.homepage %}
            <a class="home" href="{{ site.homepage.url }}">{{ site.homepage.title }}</a>{% endif %}{% if site.nav %}
            <nav class="nav" id="main-menu" aria-label="Main navigation menu">
                <ul>{% for link in site.nav %}
                    <li><a href="{{ link.url }}">{{ link.title }}</a></li>{% endfor %}{% if site.pagefind %}
                    <li>
                        <button type="button" class="search-button" aria-label="Search">
                            <svg class="icon-text" aria-hidden="true">
                                <use href="/assets/icon/search.svg#root"></use>
                            </svg>
                        </button>
                        <pagefind-modal></pagefind-modal>
                    </li>{% endif %}
                </ul>
            </nav>{% endif %}
            <button class="hamburger-menu" type="button" aria-label="Toggle main navigation menu" aria-expanded="false" aria-controls="main-menu">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </header>{% unless page.permalink == "/" %}
        {% include breadcrumbs.html %}{% endunless %}
        <main>
            <article>
                {% if page.title %}<h1>{{ page.title }}</h1>{% endif %}
                {{ content }}
            </article>
        </main>
        {% include footer.html %}
        <script src="/assets/js/menu.js"></script>{% if site.pagefind %}
        <script src="/pagefind/pagefind-component-ui.js" type="module"></script>{% endif %}
    </body>
</html>
