.toc {
  background-color: var(--highlight-3-background);
  color: var(--highlight-3-color);
  border: 1px solid var(--highlight-3-border);;
  border-radius: 3px;
  display: block;
  padding: 1rem 2rem;
  margin: 1.5rem 0;
  overflow-x: auto;
}

.toc h2 {
  margin-top: 0;
  font-size: 1.2rem;
  color: #000;
}

.toc ol {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.toc > ol > li:not(:last-child) {
  margin-bottom: 1rem;
}

.toc li {
  margin: 0;
  line-height: 1.4;
}

.toc a {
  color: inherit;
  text-decoration: none;
}

.toc a:hover,
.toc a:focus {
  color: var(--link-hover-color);
  text-decoration: underline;
  transition: var(--link-transition);
}

.toc > ol > li > a {
  font-weight: bold;
}

.numbered-toc ol {
  counter-reset: toc;
  list-style-type: none;
}

.numbered-toc ol li a {
  display: flex;
  padding: .2rem 0;
}

.numbered-toc ol li a::before {
  counter-increment: toc;
  content: counters(toc, ".") " ";
  display: inline-block;
  font-weight: bold;
  min-width: 3.8rem;
}

.numbered-toc ol li li a::before {
  font-weight: normal;
}

.numbered-toc ol li li li a::before {
  min-width: 4.6rem;
}
